<html>
<head>
</head>
<style>
    body {
      font: 10px sans-serif;
    }

    #chart {
        padding: 25px;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .theline {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .theline.hovered {
      stroke: red;
    }

    .dots circle {
      fill: white;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    #yearCursor.invisible line {
      display: none;
    }

    #yearCursor.invisible text {
      display: none;
    }

    .Top10 path {
        fill: blue;
    }

    .Top1 path {
        fill: red;
    }
    .Top05 path {
        fill: orange;
    }
    .Top01 path {
        fill: pink;
    }

</style>
<body>

    <div id="chart">
    </div>

    <!-- Include d3.js -->
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script type="text/javascript">
        
        height = 500
        width = 500
        margin = 50

        d3.select("#chart").append("h1")
                            .text("Percentage of overall wealth owned by the wealthiest 1% of Americans over time.")

        var viz = d3.select("#chart").append("svg")
                                        .attr("id", "viz")
                                        .attr('height', height + margin * 2)
                                        .attr('width', width + margin * 2)
                                     .append('g')
                                        .attr("transform", "translate(" + margin + "," + margin + ")");
        // converts a year string to a JavaScript date object
        function str2Date(year) {
          return new Date(year)
        };

        var xScale = d3.time.scale()
                              .domain([str2Date("1800"), str2Date("2020")])
                              .range([0, width]);

        // the data is in percentages, so the y domain is 0-100 as in percent.
        var yScale = d3.scale.linear()
                              .domain([0, 100])
                              .range([height, 0])

        var xAxis = d3.svg.axis()
                            .scale(xScale)
                            .orient("bottom");

        var yAxis = d3.svg.axis()
                            .scale(yScale)
                            .orient("left");


        // var line = d3.svg.line()
        //                 .x(function(d) { return xScale( str2Date( d.Year ) ); })
        //                 .y(function(d) { return yScale( parseFloat( d.Top1 ) ); })
        //                 .interpolate("linear");

        var yearCursor = viz.append('g')
                .attr('id', 'yearCursor')
                .attr('class', 'hidden')
            
        yearCursor.append('line')

        yearCursor.append('text')
                   .attr('dx', -300)
                   .attr('dy', -20);

        var stack = d3.layout.stack()
                                .offset("wiggle")
                                .order("reverse");

        var area = d3.svg.area()
                        .x(function(d) { 
                            return xScale(d.x) })
                        .y0(function(d) { return yScale( d.y0 ) })
                        .y1(function(d) { return yScale( d.y ) });

        d3.csv('../../../../course/data/Inequality.csv', function(data) {            
            skipYear = ["Top10", "Top1", "Top05", "Top01"]
            // skipYear = skipYear.reverse()

            // OR
            // skipYear = Object.keys(d).filter(function(key) {
            //         if (key !== "Year") {
            //             return key
            //         };
            //      });

            layeredData = skipYear.map(function(segment) { 
                return data.map(function(d) {
                        return {
                          y: parseInt( d[segment] ),
                          x: str2Date(d.Year),
                          y0: 0
                        }
                    });
            });
                    // switch(segment){
                    //     case "Top10":
                    //         return {
                    //                   y: parseInt( d[segment] ),
                    //                   x: str2Date(d.Year),
                    //                   y0: 0
                    //                }
                    //     case "Top1":
                    //         return {
                    //                 y: parseInt( d[segment] ) - parseInt( d["Top10"]),
                    //                 x: str2Date(d.Year),
                    //                y0: 0
                    //         }
                    //     case "Top05":
                    //         return {
                    //                 y: parseInt( d[segment] ) - (parseInt( d["Top10"]) + parseInt(d["Top1"])),
                    //                 x: str2Date(d.Year),
                    //                y0: 0
                    //         }
                    //     case "Top01":
                    //         return {
                    //                 y: parseInt( d[segment] ) - (parseInt( d["Top10"]) + parseInt(d["Top1"]) + parseInt(d["Top05"]) ),
                    //                 x: str2Date(d.Year),
                    //                y0: 0
                    //         }
                    // };
                //     });
                // });
            
            layers = stack(layeredData)
            // viz.datum(data);

            viz.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            viz.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            // viz.append("path")
            //     .attr("d", line)
            //     .attr("class", "theline");

            viz.selectAll('g.layers')
                .data(layers)
                .enter()
                .append('g')
                .attr('class', function (d, i) {
                    return skipYear[i] })
                .text(function(d,i) {
                    return skipYear[i] })
                .append("path")
                .attr("d", function (d) {
                    return area(d)
                })
                .attr('class', "stackedpath");
        });
    </script>
</body>
